body {
    background-color: #1C160A;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1{
  color: white;
  font-family: "Red Hat Display", sans-serif;
  font-size: 64px;
  margin: 0;
}

h2{
  color: white;
  font-family: "Red Hat Display", sans-serif;
  font-size: 48px;
  margin: 0;
}

h3{
font-family: "Space Grotesk", sans-serif;
color: white;
text-decoration: none;
background-color: transparent;
font-size: 48px;
  font-weight: 400;
display: inline-block;
box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h4{
font-family: "Space Grotesk", sans-serif;
color: white;
text-decoration: none;
background-color: transparent;
font-size: 32px;
  font-weight: 400;
display: inline-block;
box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.h4fontAlt{
font-family: "Red Hat Display", sans-serif;
color: white;
text-decoration: none;
background-color: transparent;
font-size: 32px;
  font-weight: 800;
display: inline-block;
box-sizing: border-box;
}

h5{
font-family: "Space Grotesk", sans-serif;
color: white;
text-decoration: none;
background-color: transparent;
font-size: 18px;
display: inline-block;
box-sizing: border-box;
}

.barraTop {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 30px 60px 30px 60px;
    
}

.item {
  font-family: "Space Grotesk", sans-serif;
  color: white;
  text-decoration: none;
  background-color: transparent;
  font-size: 18px;
  display: inline-block;
  box-sizing: border-box;
  padding: 0px 16px 0px 16px;
}

.itemTitle {
    background-color: transparent;
    box-sizing: border-box;
    display: block;
}

.item:hover {
  text-decoration: underline;
}


.boldSatement {
  position: relative;
  width: auto;
}

.contenedor-imagen {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.imagen_Header {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.textoSobreImg {
  position: absolute;
  top: 75%; /* Ajusta según donde quieras el texto verticalmente */
  text-align: left;
  padding-left: 60px;
}  
    
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Distributes the grid evenly */
  grid-template-rows: auto auto auto; /* Adjust rows automatically */
  gap: 20px 50px;
  grid-auto-flow: row;
  grid-template-areas:
      "Header Header Header"
      "Interactivo Image-1 Image-2"
      "Interactivo article button";
  margin-left: 60px; /* Fixed margin */
  margin-right: 60px; /* Fixed margin */
  width: calc(100% - 120px); /* Adjust width by subtracting the margins */
  box-sizing: border-box; /* Include padding/border in the width/height */
  overflow-x: hidden; /* Prevent overflow */
}

.container > div {
  min-width: 0; /* Allows columns to shrink beyond their content size */
}

.Header { grid-area: Header; }

.article { 
  grid-area: article;
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  text-align: center; /* Centers text content */
  word-wrap: break-word; /* Ensures long text breaks correctly */
}

.article img {
  max-width: 100%;
  height: auto; /* Maintains aspect ratio */
  object-fit: contain; /* Ensures the image scales while preserving its aspect ratio */
  display: block; /* Removes any gaps or extra space */
}

.button { 
  grid-area: button;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Aligns content to the bottom */
  align-items: flex-start; /* Aligns content to the left */
  text-align: left; /* Ensures text aligns to the left */
  padding: 20px; /* Adds some padding for spacing */
}

.Interactivo { grid-area: Interactivo; }

.Image-1 { grid-area: Image-1; }

.Image-2 { grid-area: Image-2; }

.Image-1 img, .Image-2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; /* Removes any gaps or extra space */
}

.Interactivo {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0px; /* Ensures no padding around the image */
  box-sizing: border-box;
}

.carousel-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.interactive-image {
  width: 100%;
  height: calc(100% - 80px); /* Adjusting height for carousel controls, 40px top + 40px bottom */
  object-fit: cover;
  display: block;
}

.carousel-controls {
  position: absolute;
  bottom: 20px; /* Positions the dots and arrows slightly above the bottom */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
}

.prev, .next {
  cursor: pointer;
  font-size: 24px;
  color: white;
  padding: 10px;
  margin: 0 10px;
  user-select: none;
}

.dots {
  display: flex;
  gap: 5px;
}

.dot {
  height: 12px;
  width: 12px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.dot.active {
  background-color: rgba(255, 255, 255, 0.7);
}

.hotspot-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Hotspots won't block other interactions */
}

.hotspot {
  position: absolute;
  pointer-events: auto;
  cursor: pointer;
}
.hotspot.hotspot-1 {
  top: 15%; 
  left: 38%; 
  width: 25%; 
  height: 12%;
  /*background-color: rgba(0, 255, 0, 0.4); /* Blue with 40% opacity */
}
.hotspot.hotspot-2 {
top: 50%;
left: 15%;
width: 37%;
height: 23%;
/*background-color: rgba(0, 0, 255, 0.4); /* Blue with 40% opacity */
}

.hotspot.hotspot-1:hover ~ .interactive-image {
    opacity: 0; /* Fades out the default image */
}

.hotspot.hotspot-2:hover ~ .interactive-image {
    opacity: 0;
}

.header-title {
  color: #FFF;
  font-family: "Space Mono";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header-subtitle {
  color: #FFF;
  font-family: "Space Grotesk";
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.article-name {
  color: #FFF;
  font-family: "Red Hat Display";
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  margin: 0; /* Removes any default margin */
  line-height: 1.2; /* Adjusts line-height for spacing between lines */
}

.big-link {
  display: inline-flex; /* Aligns the text and icon horizontally */
  align-items: center; /* Vertically centers the icon with the text */
  color: #FFF;
  font-family: "Space Mono";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  text-decoration-line: underline;
  margin-top: 10px; /* Adds space between the text and the link */
}

.big-link svg {
  margin-left: 20px; /* Adds space between the text and the icon */
  fill: white; /* Ensures the icon color matches the text */
  width: 40px; /* Adjusts icon size */
  height: 40px; /* Adjusts icon size */
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /* Allow wrapping for mobile */
  height: auto; /* Height will adjust based on content */
  padding: 15px 20px; /* Adjust padding */
  background-color: #333; /* Example background color */
  color: white;
  box-sizing: border-box;
}

/* Styles for Footer Elements */
.footer-left  {
  display: flex;
  gap: 24px; /* Space between elements */
  flex-wrap: wrap; /* Allow wrapping for mobile */
}

.copyright-group{
  display: flex;
  gap: 24px;  
}
.footer-left a {
  text-decoration: none;
  color: white;
  font-family: "Space Grotesk", sans-serif;
  font-size: 14px;
}

.footer-right {
  display: flex;
  align-items: center;
  gap: 24px; /* Space between words and icons */
  flex-wrap: wrap; /* Allow wrapping for mobile */
}

.footer-right span {
  font-family: "Space Grotesk", sans-serif;
  font-size: 14px;
}

.footer-right a img {
  width: 20px; /* Adjust size of the icons */
  height: 20px;
}

/* SECCION DE TRES IMGS */
.imagenes-con-texto {
  display: flex;
  flex-direction: column; /* Apila las filas verticalmente */
  gap: 0; /* Sin espacio entre las filas de imagen-texto */
  margin-top: 50px; /* Espacio entre la sección anterior y esta sección */
}

.imagen-texto {
  display: flex;
  align-items: center; /* Centra verticalmente el texto con respecto a la imagen */
  width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
}

.imagen-texto.izquierda {
  flex-direction: row; /* Imagen a la izquierda, texto a la derecha */
  text-indent: 280px;
}

.imagen-texto.derecha {
  flex-direction: row-reverse; /* Imagen a la derecha, texto a la izquierda */
  text-indent: -480px;

}

.imagen {
  width: 60vw; /* Ocupa mas de la mitad del ancho de la ventana */
  height: auto; /* Mantiene la proporcion de la imagen */
}

.texto {
  flex: 1; /* Ocupa el espacio restante */
  text-align: center; /* Centra el texto horizontalmente */
  font-size: 1rem; /* Ajusta el tamaño de la fuente según sea necesario */
}

.article-name2{
  color: #FFF;
  font-family: "Red Hat Display";
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0; /* Removes any default margin */
  line-height: 0; /* Adjusts line-height for spacing between lines */
  padding: 70px;
  text-align: left;

}

.article-name3{
  color: #FFF;
  font-family: "Red Hat Display";
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0; /* Removes any default margin */
  line-height: 0; /* Adjusts line-height for spacing between lines */
  padding: 40px;
  text-align: right;

}
.article-name4{
  color: #FFF;
  font-family: "Space Grotesk";
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0; /* Removes any default margin */
  line-height: 0; /* Adjusts line-height for spacing between lines */
  padding: 0px;
  text-align: left;

}

.article-name5{
  color: #FFF;
  font-family: "Space Grotesk";
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0; /* Removes any default margin */
  line-height: 0; /* Adjusts line-height for spacing between lines */
  padding: 0px;
  text-align: right;

}

.article-name6{
  color: #FFF;
  font-family: "Space Grotesk";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0; /* Removes any default margin */
  line-height: 8; /* Adjusts line-height for spacing between lines */
  padding: 0px;
  text-align: left;
  text-decoration: underline;

}

.article-name7{
  color: #FFF;
  font-family: "Space Grotesk";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0; /* Removes any default margin */
  line-height: 8; /* Adjusts line-height for spacing between lines */
  padding: 0px;
  text-align: right;
  text-decoration: underline;

}
/* .estilolinea{
  border: 0.5px;
  height: 0;
  width: 10px;
  background-color: #FFF;
  
}*/

/* SOCIALS */
  .seccion-fotografias {
  padding: 70px 0; /* Espacio superior e inferior */
  text-align: right; /* Centra el título y el contenido */
  margin-top: 50px; /* Espacio entre la sección anterior y esta sección */
}

.titulo-fotografias {
  color: #FFF;
  font-family: "Space Mono", sans-serif;
  font-size: 36px;
  margin-bottom: 15px; /* Espacio debajo del título */
  margin: 50px; /* Removes any default margin */
  font-style: light;
  
}

.galeria {
  display: flex;
  justify-content: center; /* Centra las fotos horizontalmente */
  gap: 20px; /* Espacio entre las fotos */
}

.foto {
  width: 450px; /* Ajusta según sea necesario */
  height: 550px; /* Ajusta según sea necesario */
  overflow: hidden; /* Oculta partes de la imagen que se salen del contenedor */
}

.foto img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta la imagen para que cubra el contenedor sin distorsionarse */
}

.imagen-con-texto {
  position: relative; /* Necesario para posicionar el texto de forma absoluta dentro del contenedor de la imagen */
  width: 200px; /* Ajusta el tamaño según sea necesario */
}

.imagen-con-texto img {
  width: 100%; /* Ocupa todo el ancho del contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
}

.texto-imagen {
  position: absolute; /* Posiciona el texto de forma absoluta dentro del contenedor de la imagen */
  bottom: 10px; /* Espacio desde el borde inferior */
  left: 10px; /* Espacio desde el borde izquierdo */
  background-color: rgba(0, 0, 0, 0.6); /* Fondo semitransparente para el texto */
  color: #FFF; /* Color del texto */
  padding: 5px 10px; /* Espacio interno alrededor del texto */
  border-radius: 5px; /* Bordes redondeados */
  font-family: "Space Grotesk", sans-serif;
  font-size: 14px; 
}        



/* LOGO */
.imagen-centrada {
  padding: 40px 0; /* Espacio superior e inferior para separación */
  text-align: center; /* Centra la imagen horizontalmente */
}

.imagen-centrada img {
  max-width: 50%; /* Asegura que la imagen no se desborde */
  height: auto; /* Mantiene la proporción de la imagen */
}

.preSignUp{
  display: flex;
  justify-content: center;
  align-items: center;
    padding: 80px 60px 80px 60px;
}

.layout {
  width: auto;
  height: auto;
  
  display: grid;
  grid:
    "imagenSignUp formSignUp" 1fr
    / 2fr 1fr;
  gap: 50px;
}

.imagenSignUp { 
    grid-area: imagenSignUp; 
    
}

.imagenSignUp img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; /* Removes any gaps or extra space */
}

.formSignUp { 
    grid-area: formSignUp; 
    display: flex;
    grid-row-gap: 20px;
    flex-direction: column;
    justify-content: center;
    padding-right: 60px;
}

.botonIcono {
  display: flex;
  align-items: center;
  width: auto; /* Ajusta según necesites */
  padding: 12px 16px 12px 16px ;
  border: 2px solid white;
  font-family: "Space Grotesk", sans-serif;
  color: white;
  font-size: 16px;
  border-color: white;
  background-color: transparent;
  cursor: pointer;
}

.botonIcono:hover {
  background-color: rgba(255, 255, 255, 0.15);  
}

.elemento-izquierda {
  margin-right: auto; /* Empuja el elemento hacia la izquierda */
}

.elemento-centro {
  flex-grow: 1;
  text-align: center;
}

.separador{
  width: auto;
    font-family: "Space Grotesk", sans-serif;
  color: white;
  font-size: 16px;  
    text-align: center;
}

input[type="email"] {
  width: auto; /* Ajusta según necesites */
  padding: 12px 16px 12px 16px ;
  border: 2px solid white;
    border-color: white;
  background-color: transparent;
  font-family: "Space Grotesk", sans-serif;
  color: white;
  font-size: 16px;
}

/* Estilo para el placeholder */
input[type="email"]::placeholder {
  color: rgba(255, 255, 255, 0.80);
}

#submit-btn {
  width: auto;
    padding: 12px 16px 12px 16px;
  font-size: 16px;
  font-family: "Space Grotesk", sans-serif;
  cursor: pointer;
  transition: all 0.3s ease;
}

#submit-btn:disabled {
  background-color: rgba(255, 255, 255, 0.20);
  color: rgba(255, 255, 255, 0.80);
  cursor: not-allowed;
}

#submit-btn:not(:disabled) {
  background-color: white;
  color: #1C160A;
}

.terms-agreement{
    text-align: left;
    color: white;
    font-size: 14px;
    font-family: "Space Grotesk", sans-serif;
}

.terms-link {
    text-decoration: underline;
    cursor: pointer;
}

/*.・。.・゜✭・ Tablet ・✫・゜・。.*/
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  
.Header {
    /* Adjust the title and subtitle sizes for tablet */
    h1 {
        font-size: 23px; /* Title size for tablet */
    }

    h2 {
        font-size: 17px; /* Subtitle size for tablet */
    }
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Maintain three columns */
    gap: 16px; /* Adjust the gap if needed */
}

.grid-item img {
    width: 100%; /* Scale down images proportionally */
    height: auto; /* Maintain aspect ratio */
}

.interactive-image {
    /* Adjust size or positioning for the interactive image */
    width: 100%; /* Ensure it scales down to fit the grid */
}

.article-name {
  color: #FFF;
  font-family: "Red Hat Display";
  font-size: 1.74325rem;
  font-style: normal;
  font-weight: 700;
  margin: 0; /* Removes any default margin */
  line-height: 1.2; /* Adjusts line-height for spacing between lines */
}

.big-link {
  display: inline-flex; /* Aligns the text and icon horizontally */
  align-items: center; /* Vertically centers the icon with the text */
  color: #FFF;
  font-family: "Space Mono";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  text-decoration-line: underline;
  margin-top: 10px; /* Adds space between the text and the link */
}

.big-link svg {
  margin-left: 20px; /* Adds space between the text and the icon */
  fill: white; /* Ensures the icon color matches the text */
  width: 22px; /* Adjusts icon size */
  height: 22px; /* Adjusts icon size */
}

/* Hotspot 1 - Semi-transparent red */
.hotspot.hotspot-1 {
  top: 15%; left: 38%; width: 25%; height: 12%;
  /*background-color: rgba(255, 0, 0, 0.4); /* Red with 40% opacity */
}

/* Hotspot 2 - Semi-transparent blue */
.hotspot.hotspot-2 {
top: 50%;
left: 15%;
width: 37%;
height: 23%;
 /* background-color: rgba(0, 0, 255, 0.4); /* Blue with 40% opacity */
}
.footer-left a {
  text-decoration: none;
  color: white;
  font-family: "Space Grotesk", sans-serif;
  font-size: 13px;
  margin-right: 24px; /* Adds space between links */
  margin-bottom: 10px;
}


.footer-right span {
  font-family: "Space Grotesk", sans-serif;
  font-size: 13px;
}

.footer-right a img {
  width: 15px; /* Adjust size of the icons */
  height: 15px;
}

}

/*.・。.・゜✭・ Mobile ・✫・゜・。.*/
@media only screen and (max-width: 767px) {
  body {
    background-color: #1C160A;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
  .container {
    width: auto;
    height: auto;
    
    display: grid;
    grid:
      "Header Header"    /* Header spans both columns */
      "Interactivo article"
      "Interactivo article"
      "Interactivo button";
    gap: 20px;
  }
  .Image-1, .Image-2 {
    display: none; /* Hide these images on mobile */
  }
  .Header {
    grid-area: Header;
       /* Adjust the title and subtitle sizes for tablet */
    h1 {
        font-size: 20px; /* Title size for tablet */
    }

    h2 {
        font-size: 15px; /* Subtitle size for tablet */
    }
  }

  .Interactivo {
    grid-area: Interactivo;
    background-color: #333;
  }

  .article {
    grid-area: article;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /*background-color: bisque;*/
  }

  .button {
    grid-area: button;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    text-align: left;
    padding: 10px;
   /* background-color: #ff00ff;*/
  }
  .empty {
    grid-area: empty;
    height:20px;
    background-color: aquamarine;
  }

  .article-name {
    color: #FFF;
    font-family: "Red Hat Display";
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    margin: 0; /* Removes any default margin */
    line-height: 1.2; /* Adjusts line-height for spacing between lines */
  }
  
  .big-link {
    display: inline-flex; /* Aligns the text and icon horizontally */
    align-items: center; /* Vertically centers the icon with the text */
    color: #FFF;
    font-family: "Space Mono";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    text-decoration-line: underline;
    margin-top: 10px; /* Adds space between the text and the link */
  }
  
  .big-link svg {
    margin-left: 20px; /* Adds space between the text and the icon */
    fill: white; /* Ensures the icon color matches the text */
    width: 18px; /* Adjusts icon size */
    height: 18px; /* Adjusts icon size */
  }

  .carousel-container {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .interactive-image {
    width: 100%;
    height: calc(100% - 40px); /* Adjusting height for carousel controls, 40px top + 40px bottom */
    object-fit: cover;
    display: block;
  }
  
  .carousel-controls {
    position: absolute;
    bottom: 4px; /* Positions the dots and arrows slightly above the bottom */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
  }
  
  .prev, .next {
    cursor: pointer;
    font-size: 15px;
    color: white;
    padding: 5px;
    margin: 0 5px;
    user-select: none;
  }
  
  .dots {
    display: flex;
    gap: 5px;
  }
  
  .dot {
    height: 8px;
    width: 8px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
  }
  
  .dot.active {
    background-color: rgba(255, 255, 255, 0.7);
  }

    .footer-container {
      flex-direction: column;
      align-items: flex-start;
      padding: 20px;
    }
  
    .footer-left {
      display: flex;
      flex-direction: column;
      gap: 5px;
      width: 100%;
    }
  
    .footer-left a {
      margin-right: 24px; /* Adds space between links */
      margin-bottom: 10px;
    }
  
    /* Group copyright, terms, and privacy policy in a single row */
    .footer-left .copyright-group {
      display: flex;
      gap: 24px;
      width: 100%;
    }
  
    .footer-right {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  
    .footer-right span {
      margin-right: 24px; /* Adds space between text elements */
    }
  
    .footer-right a img {
      margin-left: 24px; /* Adds space between icons */
    }
    .footer-right a img {
      width: 15px; /* Adjust size of the icons */
      height: 15px;
    }
  
}


  


