body {
    background-color: #1C160A;
    margin: 0;
    padding: 0;
}

h1{
    color: white;
    font-family: "Red Hat Display", sans-serif;
    font-size: 64px;
    margin: 0;
}

h2{
    color: white;
    font-family: "Red Hat Display", sans-serif;
    font-size: 48px;
    margin: 0;
}

h3{
  font-family: "Space Grotesk", sans-serif;
  color: white;
  text-decoration: none;
  background-color: transparent;
  font-size: 48px;
    font-weight: 400;
  display: inline-block;
  box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h4{
  font-family: "Space Grotesk", sans-serif;
  color: white;
  text-decoration: none;
  background-color: transparent;
  font-size: 32px;
    font-weight: 400;
  display: inline-block;
  box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h5{
  font-family: "Space Grotesk", sans-serif;
  color: white;
  text-decoration: none;
  background-color: transparent;
  font-size: 18px;
  display: inline-block;
  box-sizing: border-box;
}

.barraTop {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.item {
  font-family: "Space Grotesk", sans-serif;
  color: white;
  text-decoration: none;
  background-color: transparent;
  font-size: 18px;
  display: inline-block;
  box-sizing: border-box;
  padding: 30px 16px 30px 16px;
}

.item:last-child {
    margin-right: 44px;
}

.itemTitle {
    background-color: transparent;
    box-sizing: border-box;
    padding: 30px 60px 30px 60px;
    display: block;
}

.item:hover {
  text-decoration: underline;
}


.boldSatement {
  position: relative;
  width: auto;
}

.contenedor-imagen {
  width: 100%;
  height: 650px;
  overflow: hidden;
}

.imagen {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.textoSobreImg {
  position: absolute;
  top: 75%; /* Ajusta según donde quieras el texto verticalmente */
  text-align: left;
  padding-left: 60px;
}

.container {
  display: flex;
  width: 100%;
  max-width: 1900px; /* Ajusta esto según tus necesidades */
  margin: 0 auto;
}
    
.column {
  padding: 20px;
}
    
.textColumnLeft {
  flex: 1; /* Esto hará que ocupe 1/3 del espacio */
}

 .imageColumnLeft {
  flex: 2; /* Esto hará que ocupe 2/3 del espacio */
}   
    

.enlace {
  display: flex;      
    }